/* #region Variables */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
/* #endregion Variables */
body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: var(--white);
    color: var(--slate);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/* #region HEADER */
header a:hover,
header a:focus,
header a:active {
    color: var(--ocean);
}
.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}
.logo-web {
    color: var(--iris);
}
.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.contacts li:nth-of-type(2) {
    font-style: normal;
}
/* #endregion HEADER */
/* #region SECTION-HERO */
.section-hero {
    background: var(--navy-blue);
}
.section-hero h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}
.section-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}
.section-button span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
}
.section-button:hover, .section-button:focus, .section-button:active {
    color: var(--iris);
}
.section-button span:hover, .section-button span:focus, .section-button span:active {
    color: var(--white);
}
/* #endregion SECTION 1 */
/* #region SECTION-FEATURE */
.section-feature h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.section-feature h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.section-feature p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* #endregion SECTION-FEATURE */
/* #region SECTION-TEAM */
.section-team {
    background: var(--cloud);
}
.section-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.section-team li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}
.section-team img {
    background: url("path_to_image");
}
.section-team h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.section-team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}
/* #endregion SECTION-TEAM */
/* #region SECTION-PORTFOLIO */
.section-portfolio h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.section-portfolio li {
    background: var(--white);
}
.section-portfolio img {
    background: url("path_to_image");
}
.section-portfolio h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.section-portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* #endregion SECTION-PORTFOLIO */
/* #region FOOTER */
footer a:hover,
footer a:focus,
footer a:active {
    color: var(--ocean);
}
footer {
    background: var(--navy-blue);
}
footer .logo {
    color: var(--cloud);
}
footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}