/* #region var */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
/* #endregion var */
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1158px;
}
.section {
    padding: 120px 0;
    margin: 0 auto;
}


/* #region HEADER */
header {
    margin: 0 auto;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}
a:hover,
a:focus,
a:active {
    color: #404bbf;
}
.heavy {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-studio {
    color: #2e2f42;
}
.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.menu-nav-studio.current {
    color: #404bbf;
    position: relative;
}
.menu-nav-studio.current::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.menu-nav-studio {
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-item  {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}
.contacts-mail {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion HEADER */


/* #region SECTION-HERO */
.hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)),
                                    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}
.hero-button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus,
.button:active {
    background-color: var(--ocean);
}
/* #endregion SECTION 1 */


/* #region SECTION-FEATURE */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}
.feature-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
}
.feature-link-icon {
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: var(--cloud);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-team-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding: 0;
}
.feature-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion SECTION-FEATURE */


/* #region SECTION-TEAM */
.team {
    background-color: var(--cloud);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0 auto 72px;
}
.team-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}
.team-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: var(--white);
}
.team-list-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
    gap: 8px;
}
.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.team-list-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-list-contacts-ellipse {
    width: 40px;
    height: 40px;
}
.contacts-link {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: var(--iris);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover, .contacts-link:focus {
    background-color: #404bbf;
}
.icon-ellipse {
    fill: var(--cloud);
}
/* #endregion SECTION-TEAM */


/* #region   SECTION-PORTFOLIO */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom:  72px;
}
.portfolio-app-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-card {
    background-color: var(--white);
    width: calc((100% - 48px) / 3);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.portfolio-card-img {
    position: relative;
    overflow: hidden;
}
.portfolio-text-overflow {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    background-color: #4d5ae5;

    position: absolute;
    top: 0;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-text-overflow {
    transform: translateY(0%);
}
.portfolio-app-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
/* #endregion SECTION-PORTFOLIO */


/* #region FOOTER */

.ball {
    background: var(--navy-blue);
    padding: 100px 0;
}
.wrapper-item {
    display: flex;
    align-items: baseline;
    
}
.wrapper-item-first {
    margin-right: 120px;
}
.logo-ball {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.wrapper-item-logo {
    color: #f4f4fd;
}
.wrapper-item-ball {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.ball-social {
    margin-right: 80px;
}
.ball-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}
.ball-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.ball-social-item {
    width: 40px;
    height: 40px;
}
.social-icons {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons:hover,
.social-icons:focus {
    background-color: var(--green);
}
.social-icons-element {
    fill: var(--cloud);
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.form-input {
    outline: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
}
.form-input::placeholder {
    color: var(--white);
}
.form-button {
    display: block;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);

    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.icon-btn {
    fill: var(--white);
    margin-left: 16px;
}
/* #endregion FOOTER */ 



/* #region modal */
.modal-overlay {
    background-color: var(--navy-blue-modal);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
                0 1px 3px 0 rgba(0, 0, 0, 0.12), 
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--dairy);
    padding: 72px 24px 24px 24px;
    position: absolute;
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    background-color: var(--ocean);
    border: none;
}
.icon-close {
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: var(--white);
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 16px;
}
.modal-form-child {
    margin-bottom: 8px;
}
.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
    margin-bottom: 4px;
}
.wrapper-people {
    position: relative;
}
.modal-input {
    outline: transparent;
    display: block;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: var(--iris);
}
.icon-people {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .icon-people {
    fill: var(--iris);
}
.modal-form-comment {
    margin-bottom: 16px;
}
.modal-comment {
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
    border-color: var(--iris);
}
.modal-check {
    margin-bottom: 24px;
}
.modal-check-input {
    outline: none;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-input:checked + .modal-check-label .modal-check-text {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}
.modal-check-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}
.modal-check-text {
    width: 16px;
    height: 16px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}
/* .icon-mark {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-input:checked+.modal-check-label .modal-check-text .icon-mark {
    fill: var(--cloud);
} */
.modal-check-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
}
.modal-btn {
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion modal */
