/* #region Variables */
/* :root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
} */
/* #endregion Variables */
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/* #region HEADER */
header a:hover,
header a:focus,
header a:active {
    color: #404bbf;
}
.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
}
.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    ;
}
.menu-nav-studio {
    color: #2e2f42;
}
.menu-nav-studio:hover,
.menu-nav-studio:focus,
.menu-nav-studio:active {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-mail {
    color: #434455;
}
/* #endregion HEADER */
/* #region SECTION-HERO */
.section-hero {
    background-color: #2e2f42;
}
.section-hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.section-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.section-button:hover,
.section-button:focus,
.section-button:active {
    background-color: #404bbf;
}
/* #endregion SECTION 1 */
/* #region SECTION-FEATURE */
.section-feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.team-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-feature-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion SECTION-FEATURE */
/* #region SECTION-TEAM */
.section-team {
    background-color: #F4F4FD;
}
.section-team-list {
    background-color: #fff;
}
/* #endregion SECTION-TEAM */
/* #region FOOTER */
.container a:hover,
.container a:focus,
.container a:active {
    color: #404bbf;
}
.container {
    background-color: #2e2f42;
}
.container-logo-studio {
    color: #f4f4fd;
}
.container-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* #endregion FOOTER */